 body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }
 .container{
    flex: 1;
 }
.fa-compass{
    font-size:  2rem;
    color: red;
}
.navbar{
    height: 5rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links:hover{
    text-decoration: underline;
}

.f-info-socials,.f-info-brand,.f-info-links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom:2rem ;

}
.card-img-top{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0px !important;

}
.card-text p{
    font-weight: 400 !important;
}
/*new*/
.btn-add{
    background-color:red !important ;
    border: none !important;
}
/* edit-page */
.edit-btn{
    background-color:red !important ;
    border: none !important;
}
/* show-page */
.show-img{
    height: 40vh;
    
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0px;
    padding-right: 0px;
}

.blue-line{
    text-decoration: none;
}